<%- include("partials/header"); -%>
    <h1>About</h1>

<p class="block">Daily Journal brings you a journaling experience like never before. It is built keeeping the user 
    experience in mind, Use of pastel background and larger font in a bootstap frame is easy on eyes
     and accessible on any device.</p>
<p class="block">Front end is designed using</p>
<ul class="ul-bl">
    <li>css/bootstrap</li>
    <li>npm</li>
    <li>node js</li>
    <li>express</li>
    <li>ejs</li>
    <li>body parser</li>
</ul>
<p class="block">Backend is designed using mongodb</p>

<%- include("partials/footer"); -%>
