<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p class="block">You probably came across me from linkedIn.</p>
    <p> 5 Facts about me</p>
    <ul class="ul-bl">
        <li>Not active on twitter or facebook</li>
        <li>Hate to read books</li>
        <li>Dont's share my phone number</li>
        <li>Hate to work on weekends</li>
        <li>Always avoid small talks</li>
    </ul>

<%- include("partials/footer"); -%>
